@font-face {
 .galindo-regular {
  font-family: "Galindo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

}

/* You might want to define some default styles for the handwritten font here */
.galindo-regular {
  font-family: "Galindo", sans-serif;
  font-weight: 400;
  font-style: normal;
}
