/* Galindo font is loaded via next/font in layout.tsx */
/* This file provides utility classes for the handwritten font */

.galindo-regular {
  font-family: var(--font-galindo), "Galindo", cursive;
  font-weight: 400;
  font-style: normal;
}
